<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424940049812-3p5c5ph2d1b0u332mqe9ir07216jchd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424940049812-3p5c5ph2d1b0u332mqe9ir07216jchd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBb5FOnU9hXWq1rC_PtzkecK5GLTMIGwr0</string>
	<key>GCM_SENDER_ID</key>
	<string>424940049812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caneragkaya.FaceIdLogin</string>
	<key>PROJECT_ID</key>
	<string>authapps-960f9</string>
	<key>STORAGE_BUCKET</key>
	<string>authapps-960f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424940049812:ios:70eaa58ce9ba260238ab81</string>
</dict>
</plist>